.body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

img.max-img{
    max-width: 100%;
}

img.round{
    border-radius: 10px;
}

.header{
    width: 100%;
}

.title{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: 5px;
}

button.download{
    background-color: #29003b;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

button.extrapad{
    padding: 15px 40px;
}

button.download:hover{
    cursor: pointer;
}

.glass{
    backdrop-filter: blur(10px);
}

.round-border{
    border-radius: 10px;
}

.off-white-color{
    color: rgb(219, 219, 219);
}

img.left-pers{
    transform: perspective(10cm) rotateX(-7deg) rotateY(-15deg) scale(0.85);
    transition: all 0.5s ease-in-out;
}

img.left-pers:hover{
    transform: none;
}

.right-pers{
    transform: perspective(10cm) rotateX(-2deg) rotateY(7deg) scale(0.85);
    transition: all 0.5s ease-in-out;
}

.right-pers:hover{
    transform: none;
}

@media(max-width: 420px){
    a.disappear{
        display: none;
    }
}